<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Record List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<tbody>
<header th:insert="layout/page-layout.html :: header"></header>

<h1> Расписания специалистов</h1>
<!--вывод goodMsg если житель добавлен-->
<div th:if="${goodMsg != null}" class="alert alert-success">
    [[${goodMsg}]]

</div>


<table class="table table-bordered">

    <thead class="table-light">
    <tr>
        <th >Id</th>
        <th >Должность</th>
        <th >ФИО специалиста</th>
        <th >Дата приема</th>
        <th> Расписание</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="record: ${records}">
        <tr>
            <td>[[${record.id}]]</td>
            <td>[[${record.schedule.doctor.speciality]]</td>
            <td>[[${record.schedule.doctor.person.getFullName()}]]</td>
               <!--<td th:text="${#dates.format(record.schedule.date, 'dd.MM.yyyy')}"></td>
              <td th:text="${#dates.format(record.timeAccept, 'HH:mm')}"></td>
              <td th:each="time: ${record.timeAccept}" th:text="${#dates.format(time, 'HH:mm')}"></td>-->



            <!-- <td th:each="time: ${times}" th:text="${#dates.format(time, 'HH:mm')}"-->


            <td>
             <!--  <a th:href="@{'/record/update/' + ${record.id}}" class="btn btn-primary "> Редактировать </a>
               <a th:href="@{'/record/delete/' + ${record.id}}" class="btn btn-danger "> Удалить </a>
               <a th:href="@{'/record/detail/' + ${record.id}+'?back=record'}" class="btn btn-secondary "> Отмена </a>-->
            </td>
          </tr>


      </th:block>
      </tbody>

  </table>
  <div>
      <a th:if="${isAdmin}" th:href="@{/record/add/}" class="btn btn-success">Добавить расписание</a>
  </div>

  <footer th:insert="layout/page-layout.html :: footer"></footer>
  </html>



<!--  <form th:if="${isAdmin}" method="post" id="addRecord"  th:action="@{/record/recordPatient/}" th:object="${record}">-->


<!--    <div>-->
<!--      <label for ="doctor"> Выберите специалиста: </label>-->
<!--      <select id="doctor" th:field="*{schedule.doctor}">-->

<!--        <th:block th:each="doctor: ${doctors}">-->
<!--          <option th:value="${doctor.id}">[[${doctor.person.getFullName()}]]</option>-->
<!--        </th:block>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for ="date"> Дата приема: </label>-->
<!--      <input id="date" type="date" th:field="*{schedule.date}" required  >-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for ="time"> Время приема: </label>-->
<!--      <input id="time" type="time" th:field="*{timeAccept}" required >-->
<!--    </div>-->

<!--    <button class="btn btn-success">Добавить</button>-->

<!--    &lt;!&ndash; Кнопка Cancel &ndash;&gt;-->
<!--    <a th:href="@{/record/}" class="btn btn-danger">Отмена</a>-->
<!--  </form>-->