<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Record List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <img th:src="@{/images/fonX.jpg}" class="fon_page">
</head>
<tbody>
<header th:insert="layout/page-layout.html :: header"></header>

<h1> Записи к специалистам</h1>
<!--вывод goodMsg если расписание добавлено -->
<div th:if="${goodMsg != null}" class="alert alert-success">
  [[${goodMsg}]]
</div>


<table class="table table-bordered">

  <thead class="table-light">
  <tr>
    <th >Id</th>
    <th >Должность</th>
    <th >ФИО специалиста</th>
    <th >Дата приема</th>
    <th> Время приема</th>
    <th></th>
  </tr>
  </thead>
  <tbody class="fon_table">
  <th:block th:each="record: ${records}">
    <tr>
      <td>[[${record.id}]]</td>
      <td>[[${record.schedule.doctor.speciality}]]</td>
      <td >[[${record.schedule.doctor.person.getFullName()}]]</td>
      <td th:text="${#dates.format(record.schedule.date, 'dd.MM.yyyy')}"></td>
      <td th:text="${#temporals.format(record.timeAccept, 'HH:mm')}"></td>
      <td >
        <a th:if="${isAdmin}" th:href="@{'/record/update/' + ${record.id}}" class="btn btn-primary "> Редактировать </a>
        <a th:if="${isAdmin}" th:href="@{'/record/detail/' + ${record.id}}" class="btn btn-info "> Информация </a>
        <a th:if="${isAdmin && !record.isRecord()}" th:href="@{'/record/patient/' + ${record.id}}" class="btn btn-success"> Записать пациента </a>
        <a th:if="${isAdmin && record.isRecord && !record.isAccept} " th:href="@{'/record/delete/' + ${record.id}}" class="btn btn-danger "> Удалить запись пациента</a>

      </td>
    </tr>
  </th:block>
  </tbody>

</table>

<a th:href="@{/}" class="btn btn-secondary">Отмена</a>
<!--<footer th:insert="layout/page-layout.html :: footer"></footer>-->
</html>