<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Record Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <img th:src="@{/images/fonX.jpg}" class="fon_page">
</head>
<body>
<h1> Информация о записи к врачу </h1>
<div class="container-fluid ">

    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Доктор-специалист</th>
            <th>Дата приема</th>
            <th>Время приема</th>
            <th>Статус записи</th>
<!--            <th></th>-->
        </tr>
        </thead>
        <tbody class="fon_table">
        <tr>
            <td>[[${record.id}]]</td>
            <td>[[${record.schedule.doctor.speciality}]]: [[${record.schedule.doctor.getPerson().getFullName}]]</td>
            <td th:text="${#dates.format(record.schedule.date, 'dd.MM.yyyy')}"></td>
            <td th:text="${#temporals.format(record.timeAccept, 'HH:mm')}"></td>
            <td th:if="${record.isRecord}">Записан [[${record.patient.person.getFullName()}]]</td>
            <td th:if="!${record.isRecord}">Запись свободна</td>
        </tr>
        </tbody>
    </table>

</div>
<a th:href="@{/record/}" class="btn btn-secondary">Отмена</a>
</body>
</html>