<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Record Patient</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
  <h1>Запись пациента к доктору</h1>
  <table class="table table-bordered">

    <thead class="table-light">
    <tr>
      <th >Id</th>
      <th >Должность</th>
      <th >ФИО специалиста</th>
      <th >Дата приема</th>
      <th> Время приема</th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <form th:if="${isAdmin}" method="post" id="addRecord"  th:action="@{/record/patient/}" th:object="${record}">
      <input th:field="*{id}" hidden>
      <input th:field="*{schedule.id}" hidden>
      <input th:field="*{schedule.doctor.id}" hidden>
      <input th:field="*{schedule.doctor.person.id}" hidden>

      <tr>
        <td>[[${record.id}]]</td>
        <td>[[${record.schedule.doctor.speciality}]]</td>
        <td >[[${record.schedule.doctor.person.getFullName()}]]</td>
        <td th:text="${#dates.format(record.schedule.date, 'dd.MM.yyyy')}"></td>
        <td th:text="${#temporals.format(record.timeAccept, 'HH:mm')}"></td>
        <td>

          <div>
            <label for ="patient"> Выберите пациента</label>
            <select id="patient" th:field="*{patient}">

              <th:block th:each="patient: ${patients}">
                <option th:value="${patient.id}">[[${patient.person.getFullName()} +', '+ ${patient.person.user.login}]]</option>
              </th:block>
            </select>
          </div>
        </td>


      <button class="btn btn-success">Записать</button>

      <!-- Кнопка Cancel -->
      <a th:href="@{/record/}" class="btn btn-danger">Отмена</a>
    </form>
</div>

</body>
</html>