<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add record</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container-fluid text-center">
        <h1>Добавление времени приема</h1>
        <form th:if="${isAdmin}" method="post" id="addRecord"  th:action="@{/record/add/}" th:object="${record}">

            <div>
                <label for ="doctor"> Выберите специалиста: </label>
                <select id="doctor" th:field="*{schedule.doctor}">

                    <th:block th:each="doctor: ${doctors}">
                        <option th:value="${doctor.id}">[[${doctor.person.getFullName()}]]</option>
                    </th:block>
                </select>
            </div>
            <div>
                <label for ="date"> Дата приема: </label>
                <input id="date" type="date" th:field="*{schedule.date}" required  >
            </div>
            <div>
                <label for ="time"> Время приема: </label>
                <input id="time" type="time" th:field="*{timeAccept}" required >
            </div>

            <button class="btn btn-success">Добавить</button>

            <!-- Кнопка Cancel -->
            <a th:href="@{/record/}" class="btn btn-danger">Отмена</a>
        </form>
    </div>
</body>
</html>