<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация-2</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div>
  <h2>Регистрация</h2>
    <div th:if="${goodMsg != null}" class="alert alert-success">
        [[${goodMsg}]]
    </div>
  <form method="post" id="addPatient"  th:action="@{/registration/patient/}" th:object="${patient}">
      <div>
        <label for ="patient-surname"> Фамилия: </label>
        <input id="patient-surname" th:type="text" th:field="*{person.surname}" required minlength="1" maxlength="250" >
      </div>
      <div>
        <label for ="patient-firstname"> Имя: </label>
        <input id="patient-firstname" th:type="text" th:field="*{person.firstName}" required minlength="1" maxlength="250" >
      </div>
      <div>
        <label for ="patient-patronymic"> Отчество: </label>
        <input id="patient-patronymic" th:type="text" th:field="*{person.patronymic}" required minlength="1" maxlength="250" >
      </div>
      <div>
        <label for ="patient-birthdate"> Дата рождения: </label>
        <input id="patient-birthdate" type="date" th:field="*{person.birthdate}" required  ><!--asp-format="{yyyy-MM-dd}"value="2020-10-29"-->
      </div>

      <div>
        <label for ="doctor-email"> Адрес эл. почты: </label>
        <input id="doctor-email" type="email" th:field="*{person.user.login}" required minlength="1" maxlength="250" >
      </div>
      <div>
        <label for ="doctor-pass"> Пароль: </label>
        <input id="doctor-pass" type="password" th:field="*{person.user.password}" required minlength="1" maxlength="250" >
      </div>

      <!--<button th:if="${isAdmin}"  class="btn btn-success">Зарегистрировать</button>-->
      <button class="btn btn-success">Зарегистрироваться</button>

    <!-- Кнопка Cancel th:if="${back == 'patient'}"-->
    <a   th:href="@{/}" class="btn btn-secondary">Отмена</a>

    <a th:href="@{/}" class="btn btn-close-white">На главную</a>
  </form>
</div>

</body>
</html>