<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PatientCard List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <img th:src="@{/images/fon_n.jpg}" class="fon_page">
</head>
<body>

<header th:insert="layout/page-layout.html :: header"></header>

<h1> Медицинские записи в карты пациентов</h1>
<!-- вывод goodMsg если врач изменил запись в мед карту -->
<div th:if="${goodMsg != null}" class="alert alert-success">
    [[${goodMsg}]]
</div>
<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Дата приема</th>
            <th>Пациент</th>
            <th>Доктор-специалист</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="fon_table">
        <th:block th:each="patientCard: ${patientCards}">
            <tr>
                <td>[[${patientCard.id}]]</td>
                <td th:text="${#dates.format(patientCard.record.schedule.date, 'dd.MM.yyyy')}"></td>
                <td>[[${patientCard.record.patient.getPerson().getFullName}]]</td>
                <td>[[${patientCard.record.schedule.doctor.speciality}]]: [[${patientCard.record.schedule.doctor.getPerson().getFullName}]]</td>
<!--                <td>[[${patientCard.result}]]</td>-->
                <td>
                    <a th:if="${isAdmin}" th:href="@{'/patient-card/detail/' + ${patientCard.id}+'?back=patient-card'}" class="btn btn-warning ">Посмотреть</a>
                    <a th:if="${isDoctor}" th:href="@{'/patient-card/update/' + ${patientCard.id}+'?back=patient-card'}" class="btn btn-primary ">Редактировать</a>
                </td>
            </tr>
        </th:block>

    </tbody>
</table>

<a th:href="@{/}" class="btn btn-sec">Отмена</a>
<footer th:insert="layout/page-layout.html :: footer"></footer>


</body>
</html>