<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Schedule List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<tbody>
<header th:insert="layout/page-layout.html :: header"></header>

<h1> Расписание специалистов</h1>
 <!--вывод goodMsg если житель добавлен-->
<div th:if="${goodMsg != null}" class="alert alert-success">
    [[${goodMsg}]]

</div>


<table class="table table-bordered">

  <thead class="table-light">
    <tr>
      <th rowspan="2" >Id</th>
      <th rowspan="2">Должность</th>
      <th rowspan="2">ФИО специалиста</th>
      <th >Дата приема</th>
      <th rowspan="2"></th>
        <th rowspan="2"> расписание</th>
        <th></th>
    </tr>
    <tr>
      <td > Время приема</td>
    </tr>

  </thead>
  <tbody>
  <th:block th:each="schedule: ${schedules}">
    <tr>
        <td rowspan="2">[[${schedule.id}]]</td>
        <td rowspan="2">[[${schedule.doctor.speciality}]]</td>
        <td rowspan="2">[[${schedule.doctor.person.getFullName()}]]</td>
        <td th:text="${#dates.format(schedule.date, 'dd.MM.yyyy')} + ', ' + ${#dates.dayOfWeekNameShort(schedule.date)}"></td>


       <!-- <td th:each="time: ${times}" th:text="${#dates.format(time, 'HH:mm')}"-->



        <td rowspan="2">
            <a th:href="@{'/schedule/update/' + ${schedule.id}}" class="btn btn-primary "> Редактировать </a>
            <a th:href="@{'/schedule/delete/' + ${schedule.id}}" class="btn btn-danger "> Удалить </a>
            <a th:href="@{'/schedule/detail/' + ${schedule.id}+'?back=schedule'}" class="btn btn-secondary "> РАсписание/Записаться </a>
            <a th:href="@{'/record/list/' + ${schedule.id} +'?back=schedule'}" class="btn btn-secondary "> расписание </a>
          <!--  <a th:href="@{'/record/list/' + ${schedule.id}+'?back=schedule'}" class="btn btn-secondary "> подробное расписание врача </a>-->
        </td>
    </tr>
    <tr>
        <td  th:text="${#dates.format(schedule.startTime, 'HH:mm')}+' - '+${#dates.format(schedule.endTime, 'HH:mm')}"></td>
    </tr>

  </th:block>
  </tbody>

</table>
<div>
    <a th:if="${isAdmin}" th:href="@{/schedule/add/}" class="btn btn-success">Добавить расписание</a>
</div>

<footer th:insert="layout/page-layout.html :: footer"></footer>
</html>