<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Schedule</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!-- вывод goodMsg если врач добавлен -->
<div th:if="${goodMsg != null}" class="alert alert-success">
    [[${goodMsg}]]
</div>
<div class="container-fluid text-center">
    <h1>Добавление расписания</h1>
    <form method="post" id="addSchedule"  th:action="@{/schedule/add/}" th:object="${schedule}">
        <div>
            <label for ="doctor"> Выберите специалиста: </label>
            <select id="doctor" th:field="*{doctor}">
                <th:block th:each="doctor: ${doctors}">
                    <option th:value="${doctor.id}">[[${doctor.person.getFullName()}]]</option>
                </th:block>
            </select>
        </div>
        <div>
            <label for ="date"> Дата приема: </label>
            <input id="date" type="date" th:field="*{date}" required  >
        </div>
        <div>
            <label for ="start-time"> Начало приема: </label>
            <input id="start-time" type="time" th:field="*{startTime}" required >
        </div>
        <div>
            <label for ="end-time"> Окончание приема: </label>
            <input id="end-time" type="time" th:field="*{endTime}" required >
        </div>

        <button class="btn btn-success">Добавить</button>


        <!-- Кнопка Cancel -->
        <a th:href="@{/schedule/}" class="btn btn-danger">Отмена</a>
    </form>
    <!--    <h1>Format ISO</h1>
        <p th:text="${#dates.formatISO(standardDate)}"></p>
        <p th:text="${#temporals.formatISO(localDateTime)}"></p>
        <p th:text="${#temporals.formatISO(localDate)}"></p>
        <p th:text="${#temporals.formatISO(tiamp)}"></p>
     2023-03-19T09:32:25.682+04:00

    2023-03-19T09:32:25.682+0400 *****

    2023-03-19T00:00:00.000+0400

    2023-03-19T09:32:25.683+0400
    ------------------------
    <h1>Format manually</h1>
    <p th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></p>
    <p th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}"></p>
    <p th:text="${#temporals.format(localDate, 'MM-yyyy')}"></p>

    <h1>Format manually</h1>
    <p th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></p>
    <p th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}"></p>
    <p th:text="${#temporals.format(localDate, 'MM-yyyy')}"></p> -->
</div>
</body>
</html>