<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule Update</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Редактирование расписания [[${schedule.doctor.person.getFullName()}]]</h1>
    <form th:if="${isAdmin}" method="post" th:action="@{/schedule/update/}" th:object="${schedule}">
        <!-- надо перед id -->
        <input th:field="*{id}" hidden>
        <input th:field="*{doctor.id}" hidden>

        <div>
            <label for ="date-accept"> Дата приема: </label>
            <input id="date-accept" type="date" th:field="*{date}" required  >
        </div>
        <div>
            <label for ="time-start"> Начало приема: </label>
            <input id="time-start" type="time" th:field="*{startTime}" required ><!--asp-format="{yyyy-MM-dd}"value="2020-10-29-->

        </div>
        <div>
            <label for ="time-end"> Окончание приема: </label>
            <input id="time-end" type="time" th:field="*{endTime}" required >
        </div>

        <button class="btn btn-success">Обновить</button>

        <!-- Кнопка Cancel -->
        <a th:href="@{/schedule/}" class="btn btn-danger">Отмена</a>
    </form>
</div>
</body>
</html>