<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <img th:src="@{/images/fon_index.jpg}" class="fon_page">


</head>
<body>

    <header th:insert="layout/page-layout.html :: header"></header>

    <h1 >Добро пожаловать в информационную систему "ВолгаМед"</h1>

    <h3><a th:href="@{/doctor/list}">Врачи-специалисты</a></h3>

    <h3><a th:if="${isAdmin}" th:href="@{/person/}"></a></h3>
<!--\    <h3><a th:if="!${isAdmin}" th:href="@{/schedule/list2}">Расписание специалистов</a></h3>-->

    <h3><a th:if="${isAdmin} or ${isDoctor}" th:href="@{/schedule/list}">Расписание специалистов</a></h3>
    <h3><a th:if="${isAdmin}" th:href="@{/patient/list}">Пациенты</a></h3>
    <h3><a th:if="${isAdmin}" th:href="@{/record/}">Записать к специалисту</a></h3>
    <h3><a th:if="${isAdmin}" th:href="@{/patient-card/}">Медицинские карты пациентов</a></h3>


<!--&lt;!&ndash; \   <h3><a th:href="@{/record/}">Расписание</a></h3>&ndash;&gt;-->
    <h3><a th:if="${isDoctor}" th:href="@{/schedule/doctor}">Мое расписание</a></h3>
<!--&lt;!&ndash;\    <h3><a th:if="${isDoctor}" th:href="@{/record/list}">Записанные пациенты</a></h3>&ndash;&gt;-->
    <h3><a th:if="${isDoctor}" th:href="@{/record/list-form-date}">Записанные пациенты</a></h3>
    <h3><a th:if="${isDoctor}" th:href="@{/record/list-today}">Принять пациентов</a></h3>

    <h3><a th:if="${isPatient}" th:href="@{/doctor/list}"> Записаться к специалистам</a></h3>
    <h3><a th:if="${isPatient}" th:href="@{/patient-card/patient}"> Моя медицинская карта</a></h3>
    <h3><a th:if="${isPatient}" th:href="@{/record/patient-records}"> Мои записи</a></h3>

    <h3><a sec:authorize="!isAuthenticated()" th:href="@{/registration/patient}">Регистрирация</a></h3>

    <h3><a th:if="!${isAuth}" th:href="@{'/login'}"> Войти в систему</a></h3>



<footer th:insert="layout/page-layout.html :: footer"></footer>
</body>
</html>