<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Редактирование данных о жителе</h1>
    <form method="post" th:action="@{/person/update/}" th:object="${person}">
        <!--  id уже заполнено -->
        <input th:field="*{id}" hidden>
        <div>
            <label for ="doctor-surname"> Фамилия: </label>
            <input id="doctor-surname" th:type="text" th:field="*{surname}" required minlength="1" maxlength="250" >
        </div>
        <div>
            <label for ="doctor-firstname"> Имя: </label>
            <input id="doctor-firstname" th:type="text" th:field="*{firstName}" required minlength="1" maxlength="250" >
        </div>
        <div>
            <label for ="doctor-patronymic"> Отчество: </label>
            <input id="doctor-patronymic" th:type="text" th:field="*{patronymic}" required minlength="1" maxlength="250" >
        </div>
        <div>
            <label for ="doctor-birthdate"> Дата рождения: </label>
            <input id="doctor-birthdate" type="date" th:field="*{birthdate}" required  ><!--asp-format="{yyyy-MM-dd}"value="2020-10-29"-->
        </div>
<!--        <div>-->
<!--            <label for ="doctor-email"> Адрес эл. почты: </label>-->
<!--            <input id="doctor-email" type="email" th:field="*{user.login}" required minlength="1" maxlength="250" >-->
<!--        </div>-->
<!--        <div class="row mb-3">-->
<!--            <label class="col-2 col-form-label" for ="patient-pass"> Пароль: </label>-->
<!--            <div class="col-sm-10">-->
<!--                <input id="patient-pass" type="password" th:field="*{user.password}" required minlength="1" maxlength="250" >-->
<!--            </div>-->
<!--        </div>-->
        <button class="btn btn-success">Сохранить</button>

        <!-- Кнопка Cancel -->
        <a th:href="@{/person/}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
</body>
</html>