<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Update</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container-fluid ">
    <h1>Редактирование данных о докторе</h1>
    <form th:if="${isAdmin}" method="post" id="updDoc" th:action="@{/doctor/update/}" th:object="${doctor}">
        <!-- надо перед id -->
        <input th:field="*{id}" hidden>
        <input th:field="*{person.id}" hidden>
        <!-- данные врача -->
        <table >
            <tr>
                <td>Фамилия: </td>
                <td><input th:type="text" th:field="*{person.surname}" disabled minlength="1" maxlength="250" >
                </td>
            </tr>
            <tr>
                <td> Имя: </td>
                <td>
                    <input  th:type="text" th:field="*{person.firstName}" disabled minlength="1" maxlength="250" >
                </td>
            </tr>
            <tr>
                <td> Отчество: </td>
                <td>
                    <input th:type="text" th:field="*{person.patronymic}" disabled  >
                </td>
            </tr>
            <tr>
                <td > Дата рождения: </td>
                <td>
                    <input id="doctor-birthdate" type="date" th:field="*{person.birthdate}" disabled >
                </td>
            </tr>
            <tr>
                <td> Должность: </td>
                <td>
                    <input th:type="text" th:field="*{speciality}" required minlength="1" maxlength="250" >
                </td>
            </tr>
            <tr>
                <td>Информация: </td>
                <td>
                    <textarea form="updDoc" cols= "200" raw="150" th:field="*{info}" required minlength="1" maxlength="250" ></textarea>
                </td>
            </tr>


        </table>
        <button class="btn btn-success">Обновить</button>

        <!-- Кнопка Cancel -->
        <a th:href="@{/doctor/list}" class="btn btn-danger">Отмена</a>
    </form>
</div>

</body>
</html>