<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title> Doctors </title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <img th:src="@{/images/fon_doctors.jpg}" class="fon_page">
</head>
<body>
<header th:insert="layout/page-layout.html :: header"></header>

<h1> Врачи-специалисты</h1>
    <!-- вывод goodMsg  -->
    <div th:if="${goodMsg != null}" class="alert alert-success">
        [[${goodMsg}]]
    </div>

    <table class="table table-bordered">

        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Врач</th>
                <th>Должность</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="fon_table">
        <th:block th:each="doctor: ${doctors}">

            <tr>
                <td>[[${doctor.id}]]</td>
                <td>[[${doctor.getPerson().getFullName()}]]</td>
                <td>[[${doctor.speciality}]]</td>
                <td>
                    <a th:if="${isAdmin}" th:href="@{'/doctor/update/' + ${doctor.id}}" class="btn btn-primary "> Редактировать </a>
                    <a th:if="${isAdmin}" th:href="@{'/doctor/delete/' + ${doctor.id}}" class="btn btn-danger "> Удалить </a>
                    <a th:if="${isPatient}" th:href="@{'/schedule/listDoctor/' + ${doctor.id}+'?back=doctor'}" class="btn btn-primary ">Посмотреть расписание</a>
                    <a th:href="@{'/doctor/detail/' + ${doctor.id} +'?back=doctor'}" class ="btn btn-warning">О специалисте</a>
                </td>

            </tr>
        </th:block>

        </tbody>
    </table>

    <div>
        <a th:if="${isAdmin}" th:href="@{/doctor/add/}" class="btn btn-success">Добавить врача</a>
        <a th:href="@{/}" class="btn btn-secondary">Отмена</a>
    </div>


<footer th:insert="layout/page-layout.html :: footer"></footer>
<!--</div>-->
</body>
</html>