<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <header th:insert="layout/page-layout.html :: header"></header>
    <div class="text-center">
        <h1> Информация о специалисте</h1>
        <h2>[[${doctor}]]</h2>

        <!-- Кнопка Cancel -->
        <a th:if = "${back == 'doctor'}" th:href="@{/doctor/}" class="btn btn-secondary">Отмена</a>
        <a th:if = "${back == 'schedule'}" th:href="@{/schedule/}" class="btn btn-secondary">Отмена</a>

    </div>
</body>
</html>