<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <header th:insert="layout/page-layout.html :: header"></header>
    <div class="container-fluid ">
        <h1> Информация о специалисте</h1>
        <h2>[[${doctor}]]</h2>
        <table>
            <tr>
                <td>ФИО: </td>
                <td>[[${doctor.person.getFullName()}]]</td>
            </tr>
            <tr>
                <td> Дата рождения: </td>
                <td th:text="${#dates.format(doctor.person.birthdate, 'dd.MM.yyyy')}"></td>
            </tr>
            <tr>
                <td> Специальность: </td>
                <td>[[${doctor.speciality}]]</td>
            </tr>
            <tr>
                <td>Информация</td>
                <td>[[${doctor.info}]]</td>
            </tr>
            <tr th:if = "${auth == 'ROLE_ADMIN'}">
                <td>login: </td>
                <td> [[${doctor.getPerson().getUser().getLogin()}]]</td>
            </tr>

        </table>

        <a th:if = "${auth == 'ROLE_ADMIN'}" th:href="@{/doctor/list}" class="btn btn-secondary">Посмотреть расписание</a>
        <!-- Кнопка Cancel -->
        <a th:if = "${back == 'doctor'}" th:href="@{/doctor/list}" class="btn btn-secondary">Отмена</a>
        <a th:if = "${back == 'schedule'}" th:href="@{/schedule/}" class="btn btn-secondary">Отмена</a>

    </div>
</body>
</html>