<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <img th:src="@{/images/fon_n.jpg}" class="fon_page">
</head>
<body>
    <header th:insert="layout/page-layout.html :: header"></header>
    <div class="container-fluid ">
        <h1> Информация о враче-специалисте</h1>
<!--        <h2>[[${doctor}]]</h2>-->

        <img th:src="@{'/images/doctors/'+${doctor.photo}}" class="photo">
        <h2>[[${doctor.person.getFullName()}]]</h2>
        <h2>[[${doctor.speciality}]]</h2>
        <h2>[[${doctor.info}]]</h2>

        <!-- Кнопка Cancel -->
        <a th:if = "${back == 'doctor'}" th:href="@{/doctor/list}" class="btn btn-secondary">Отмена</a>
        <a th:if = "${back == 'schedule'}" th:href="@{/schedule/}" class="btn btn-secondary">Отмена</a>

    </div>
</body>
</html>